.downbar
  %ul.side-nav
    %li
      %a{href: "#"}
        %span.glyphicon.glyphicon-cog
    %li.hide-stuffs
      %a{href: "#"}
        %span.glyphicon.glyphicon-remove-circle
    %li.invert
      %a{href: "#"}
        %span.glyphicon.glyphicon-adjust
