#config.animated.fadeInRight
  .row-fluid
    .col-md-12
      #introR
        #rate
          %h5 Escolha o raio
          %input{type: "range", min: "3", max: "15"}
          .slider.slim.sliderMin.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{"aria-disabled" => "false"}
            %a.ui-slider-handle.ui-state-default.ui-corner-all{href: "#"}
            .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min{style: "width: 50%;"}
          .field_notice
            Valor :
            %span.must.sliderMinLabel 9
