.downbar.animated.fadeInUp
  %ul.side-nav
    %li.hide-config
      %a{href: "#"}
        %span.glyphicon.glyphicon-cog.gear
    %li.invert
      %a{href: "#"}
        %span.glyphicon.glyphicon-adjust
