%header
  .main-menu
    %a.open{:href => "#panel"}
      %span.glyphicon.glyphicon-align-justify
    %a{"data-target" => ".bs-modal-sm", "data-toggle" => "modal"}
      %span.glyphicon.glyphicon-new-window
  .modal.fade.bs-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        %button.close.modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %ul.modal-menu
          %li
            %a#index{:href => "#", "data-dismiss" => "modal"} Data Fixa
          %li
            %a#ue{:href => "#", "data-dismiss" => "modal"} Última Etapa
          %li
            %a#inter{:href => "#", "data-dismiss" => "modal"} Intermediária
