.sidebar
  %ul.side-nav
    %li
      %a{href: "/"}
        %span.glyphicon.glyphicon-home
    %li
      %a{href: "graphs"}
        %span.glyphicon.glyphicon-stats
    %li
      %a{href: "maps"}
        %span.glyphicon.glyphicon-map-marker
    %li
      %a{href: "deformed"}
        %span.glyphicon.glyphicon-tint
    %li
      %a{href: "about"}
        %span.glyphicon.glyphicon-fire
