.sidebar.animated.fadeInDown
  %ul.side-nav
    %li
      %a{href: "/"}
        %span.glyphicon.glyphicon-home
    %li
      %a{href: "graphs"}
        %span.glyphicon.glyphicon-stats
    %li
      %a{href: "maps"}
        %span.glyphicon.glyphicon-map-marker
    %li
      %a{href: "cartogram"}
        %span.glyphicon.glyphicon-tint
    %li
      %a{href: "heatmap"}
        %span.glyphicon.glyphicon-fire
