#config.animated.fadeInRight
  .row-fluid
    .col-md-12
      #introR
        .row
          .col-md-12
            %form
              %select#field
              %select#year
              %span#status
