#config.animated.fadeInRight
  .row-fluid
    .col-md-12
      .side-search
        %ul#searchState
        %span.glyphicon.glyphicon-search.mag-glass
  .row-fluid
    .col-md-12
      #introR
        .city
        .cod
        .lat
        .long
