#config.animated.fadeInRight
  .row-fluid
    .col-md-12
      .side-search
        %ul#searchNode
        %span.glyphicon.glyphicon-search.mag-glass
  .row-fluid
    .col-md-12
      #introR 
        .row
          .col-md-12
            %h5 Escolha o ano de análise
            .pickDate.bordered
              %a.pick
                1991
              %a.pick.middle
                2000
              %a.pick
                2010
        .row
          .col-md-12
            #relations.marginInfo
              %h5 Relações analisadas pelo total
            .col-md-4
              %label.switch.switch-warning
                %input.switch-input{type: "checkbox"}/
                %span.switch-label.switchOff{"data-off" => "Off", "data-on" => "On"}
                %span.switch-handle
            .col-md-8
              %span
                %h6 *Mostrar todos os nós
        #rate.marginInfo
          %h5 Escolha limites de migrações:
          .slider.slim.slider-warning.sliderRange.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{"aria-disabled" => "true"}
            %a.ui-slider-handle.ui-state-default.ui-corner-all{href: "#"}
            .ui-slider-range.ui-widget-header.ui-corner-all{style: "left: 4.14%; width: 95.85%;"}
            %a.ui-slider-handle.ui-state-default.ui-corner-all{href: "#"}
          %br
          .field_notice
            Range:
            %span.must.sliderRangeLabel
              5000 até 10000
        .row
          .col-md-12
            #pie.marginInfo
              %h5 Tamanho da amostra analisada
