%section#pageslide{:style => "left: -240px; right: auto; display: none;"}
  #panel{:style => "display: block;"}
    %ul
      %li
        %span.glyphicon.glyphicon-home
        %a{href: "/"} Home
      %li
        %span.glyphicon.glyphicon-map-marker
        %a{href: "maps"} Maps 
      %li
        %span.glyphicon.glyphicon-stats
        %a{href: "graphs"} Graphs
      %li
        %span.glyphicon.glyphicon-paperclip
        %a{href: "about"} About 
