%script{src: "js/vendor/d3.geo.js"}
%script{src: "js/vendor/topojson.js"}
=partial ("panelCarto")

#cartogram

#intro
  .container
    .row-fluid
      .col-md-12
        .row
          .col-md-11
            %h2.title Cartograma

%script{src: "js/maps.js"}

