= partial ("searchNode")

#graph

= partial("config")

#intro
  .container
    .row-fluid
      .col-md-12
        .row
          .col-md-11
            %h2.title Grafo
        %br
        .row
          .col-md-12
            %p Alguns objetos são necessário para criação do grafo, os principais são os nós e as arestas.
          .col-md-12
            %p  O grafo em questão é composto por várias relações bidimensionais:
            %ul
              %li O tamanho do nó é proporcional ao número de incidências;
              %li A força de atração entre os nós é proporcional ao relacionamento entre eles;
              %li A espessura dos links é proporcional a quantidade de relacionamentos entre os nós;
              %li A distância dos links é proporcional a relação entre os estados 
        .row
          .col-md-12
            %pre
              %code.javascript
                %span.keyword function
                %span.comment // render current state
                %span.keyword var
                %span.keyword function
                %span.string '.layer'
                %span.string 'fill'
                %span.keyword function
                %span.keyword if
                %span.comment // something is selected
                %span.keyword return
                %span.string '#eee'
                %span.keyword else
                %span.comment // nothing is selected
                %span.keyword return

%script{src:"js/graph.js"}
%script{src:"js/graph_pie.js"}
