=partial ("panelHeat")
=partial ("configHeat")

#heatmap

#centered
#centeredSmall

#intro
  .container
    .row-fluid
      .col-md-12
        .row
          .col-md-11
            %h2.title HeatMap

%script{src: "js/heatmap.js"}
