.container
  .row-fluid
    .col-md-12
      .row
        .col-md-7
          %p No que se refere às migrações, as questões mais comuns disponíveis nos censos demográficos são “lugar de nascimento”, “duração de residência”, “lugar de última residência” e “lugar de residência em uma data fixa do passado” (normalmente um ou cinco anos antes do censo). A seguir, comenta-se sobre cada um deles, chamando a atenção para os conceitos e o tipo de informação produzida.
          %p Com base nesta questão, a população pode ser classificada em dois grupos básicos: migrantes e não-migrantes. Migrantes são todos aqueles nascidos em lugar diferente de onde foram recenseados, e não-migrantes são todos aqueles recenseados no lugar de nascimento.
          %p Todas estas considerações sobre os diferentes resultados dos quesitos censitários diretamente relacionados à migração permitem uma classificação das unidades espaciais de análise, segundo a predominância de determinado tipo de fluxo. Certamente, haverá muitos fluxos, isto é, o migrante sai diretamente de uma região para outra, sem etapas intermediárias. Entretanto, o tratamento simultâneo da informação de data fixa e última etapa pode revelar aspectos importantes da mobilidade espacial dos migrantes.
  .row-fluid
    .col-md-12
      .row
        .col-md-7
          #hideIntro
            %a{href: "graphs"}
              Dê uma olhada
