!!!
%head
  %meta{:charset => "utf-8"}/
  %title Identificação de fluxos migratórios
  %link(rel="stylesheet" href="css/vendor/animate.css") 
  %link(rel="stylesheet" href="css/vendor/bootstrap.css") 
  %link(rel="stylesheet" href="css/landpage.css")
  %link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Oswald:400,300,700')
%body
  %header#top.header.navbar-fixed-top
    .container
      %h1.logo.pull-left
        %a{href: "/"}
          %img#logo-image.logo-image{alt: "Logo", src: "/images/logo.png"}/
          %span.logo-title Identificação de Fluxos Migratórios
  #map
  #main
    = yield
