!!!
%head
  %meta{:charset => "utf-8"}/
  %link(rel="stylesheet" href="css/bootstrap.css") 
  %link(rel="stylesheet" href="css/bootstrap-theme.css") 
  %link(rel="stylesheet" href="css/animate.css") 
  %link(rel="stylesheet" href="css/colorbrewer.css") 
  %link(rel="stylesheet" href="css/style.css") 
%body
  %header
    .main-menu
      %a.open{:href => "#panel"}
        %span.glyphicon.glyphicon-align-justify
      %a{"data-target" => ".bs-modal-sm", "data-toggle" => "modal"}
        %span.glyphicon.glyphicon-new-window
    .modal.fade.bs-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-sm
        .modal-content
          %ul.modal-menu
            %li
              %a#index{:href => "#"} Data Fixa
            %li
              %a#ue{:href => "#"} Última Etapa
            %li
              %a#inter{:href => "#"} Intermediária
  %section#pageslide{:style => "left: -240px; right: auto; display: none;"}
    #panel{:style => "display: block;"}
  %main.map
  .container
    = yield
  %script{src:  "js/jquery.js"}
  %script{src:  "js/jquery.pageslide.js"}
  %script{src:  "js/bootstrap.min.js"}
  %script{src:  "js/d3.v3.min.js"}
  %script{src:  "js/d3.csv.js"}
  %script{src:  "js/d3.geo.js"}
  %script{src:  "js/d3.geom.js"}
  %script{src:  "js/colorbrewer.js"}
  %script{src:  "js/index.js"}
  :javascript
    $(document).ready(function () {
      $(".open").pageslide({ direction: "right", modal: true });
      $('#index').click(function(e) {
        event.preventDefault();
        $('#ue').parent().removeClass('marked');
        $('#inter').parent().removeClass('marked');
        $(this).parent().toggleClass('marked');
        graph('rate_df.json','data_fixa.csv', 'YlGn', 'input_data_fixa', 'output_data_fixa', 'saldo_data_fixa');
      });
      $('#ue').click(function(e) {
        event.preventDefault();
        $('#index').parent().removeClass('marked');
        $('#inter').parent().removeClass('marked');
        $(this).parent().toggleClass('marked');
        graph('rate_ue.json','ultima_etapa.csv','RdPu', 'input_ue', 'output_ue', 'rate_ue');
      });
      $('#inter').click(function(e) {
        event.preventDefault();
        $('#ue').parent().removeClass('marked');
        $('#index').parent().removeClass('marked');
        $(this).parent().toggleClass('marked');
        graph('rate.json','etapas.csv', 'OrRd');
      });
      $('.cities').click(function(){
        $('.card').removeClass().addClass('slideInRight animated').one('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function(){
        $(this).removeClass();
        });
      });
    });
    
