#selectState
= partial ("searchState")
#map
  #stateName

#stateInfo
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#"} Data Fixa
    %li
      %a{href: "#"} Por Etapa
    %li
      %a{href: "#"} Por Partes

%script{src:"js/state_map.js"}
