.row
  %main.map.col-md-9
    .btn-group.btn-map
      %button#zoom_in.btn.btn-white{type: "button"}
        %span.btn-color.glyphicon.glyphicon-plus
      %button#zoom_out.btn.btn-white{type: "button"}
        %span.btn-color.glyphicon.glyphicon-minus
  %aside.col-md-3
    %input{type: "checkbox", class: "sedes"}
      Sedes
    %br
    %input{type: "checkbox", class: "links"}
      Links
    #info
      #legend
      #city
      #cod
      #lat
      #log
      #meso
      #cod_meso
      #micro
      #cod_micro
      #input
      #output
      #balance
