.row
  %main.map.col-md-9
  %aside.col-md-3
    %input{type: "checkbox", class: "sedes"}
      Sedes
    %br
    %input{type: "checkbox", class: "links"}
      Links
    #info
      #legend
      #city
      #cod
      #lat
      #log
      #meso
      #cod_meso
      #micro
      #cod_micro
      #input
      #output
      #balance
