.header {
  padding: 7px 0;
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  max-height: 50px;
}

.header h1.logo a {
  color: #444444;
}

.header h1.logo a:hover {
  text-decoration: none;
}

.header h1.logo a img {
  margin-right: 5px;
  max-height: 40px;
}

.header h1.logo .logo-title {
  vertical-align: middle;
}
