@font-face {
  font-family: 'proxima-nova';
  src: url('../../fonts/proxima-nova-regular.otf');
}

body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main-content {
  overflow: auto;
  height: 100%;
}

.main-margin {
  margin-top: 100px;
}

#intro {
  background: #F5F5F5;
  min-height: 500px;
}

.closeInfo {
  line-height: 61px;
  vertical-align: middle;
  font-weight: 200;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  font-size: 21px;
  color: #000;
}

.closeInfo:hover {
  text-decoration: none;
}

.main-page h3 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.main-page p {
  font-size: 15px;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  text-indent: 2em;
  color: #000;
}

/* Definition of sidebar */

.sidebar {
  background: rgba(51,51,51,0.4);
       color: #d2d2d2;
   font-size: 14px;

  position: absolute;
   z-index: 999;
   padding: 10px 0;
    margin: 50px 0 0 100px;  
     width: 60px;
       top: 0;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
     -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
}

.sidebarLand {
  background: rgba(51,51,51,0.4);
       color: #d2d2d2;
   font-size: 14px;

  position: absolute;
   z-index: 999;
   padding: 10px 0;
    margin: 100px 0 0 0;  
     width: 60px;
     right: 5%;
       top: 0;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
     -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
}

.downbar {
  background: rgba(51,51,51,0.4);
       color: #d2d2d2;
   font-size: 14px;

  position: absolute;
   z-index: 999;
   padding: 5px 0;
    margin: 0 0 0 100px;  
    bottom: 0px;
     width: 60px;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
     -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);

  -webkit-transition: -webkit-transfor .3s ease-in-out;
     -moz-transition: -moz-transform .3s ease-in-out;
       -o-transition: -o-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;

}

/*
.downbar:hover {
    -webkit-transform: translate(0,-75px);
       -moz-transform: translate(0,-75px);
         -o-transform: translate(0,-75px); 
            transform: translate(0,-75px);
}*/

.side-nav {
  padding: 0;
   margin: 0;
}

.side-nav li {
  list-style: none;
  text-align: center; 
}

.side-nav li a {
  text-decoration: none;
          padding: 8px 20px 6px;
          display: block;
            color: inherit;
}

.side-nav li a.active {
  background: rgba(51,51,51,0.25);
       color: #f8f8f8;
}

.side-nav li a:hover {
  -webkit-transition: background-color 0.2s;
     -moz-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
    background-color: rgba(51,51,51,0.25);
}

/* End of sidebar */

/* Definition of tag selection */

#config {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  z-index: 999;
  background-color: rgba(245,245,245,0.75);
  overflow: scroll;
  padding-top: 30px;
  min-height: 702px;
}

.side-search {
  position: relative;
   z-index: 999;
    margin: 20px 10px;
    border: 2px solid #ddd;
     right: 0;
       top: 0;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

} 

.side-search span{
  vertical-align: middle;
     line-height: 38px;
        position: absolute;
          margin: 0 5px;
           color: rgba(51,51,51,0.4);
           float: right;
           right: 0;
}

.side-search ul{
  line-height: 34px;
      padding: 0;
       margin: 0 30px 0 0;
       height: 40px;
       border: none;
    
  list-style: none;
   font-size: 15px;
       color: #333333;
}

.side-search ul input:focus {
  outline: 0;
}

.side-search .mag-glass {
  background: #fff;
  width: 30px;
  height: 40px;
  margin: -1px 0;
  padding: 0 6px;
} 

/* End of tag selection */

/* Pick date */

.pickDate.bordered a {
  border: 2px solid #C6C6C6;
  padding: 6px;
  margin: 0 60px 0 0;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.pickDate.bordered a:hover {
  background-color: rgba(51,51,51,0.1);
}
.pickDate a {
  text-decoration: none;
  background: #dcdcdc;
  color: #3f3f3f;
  cursor: pointer;
}
.pick.active {
  background-color: #fabb3d;
  color: #fff;
}


/* End of pick date */

/* Pre code */

pre {
  display: block;
  position: relative;
  text-align: left;
  font-size: .55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  border: none;
}

pre code {
  display: block; padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC;
}

pre .keyword,
pre .tag,
pre .css .class,
pre .css .id,
pre .lisp .title,
pre .nginx .title,
pre .request,
pre .status,
pre .clojure .attribute {
  color: #E3CEAB;
}

pre .django .template_tag,
pre .django .variable,
pre .django .filter .argument {
  color: #DCDCDC;
}

pre .number,
pre .date {
  color: #8CD0D3;
}

pre .dos .envvar,
pre .dos .stream,
pre .variable,
pre .apache .sqbracket {
  color: #EFDCBC;
}

pre .dos .flow,
pre .diff .change,
pre .python .exception,
pre .python .built_in,
pre .literal,
pre .tex .special {
  color: #EFEFAF;
}

pre .diff .chunk,
pre .subst {
  color: #8F8F8F;
}

pre .dos .keyword,
pre .python .decorator,
pre .title,
pre .haskell .type,
pre .diff .header,
pre .ruby .class .parent,
pre .apache .tag,
pre .nginx .built_in,
pre .tex .command,
pre .prompt {
    color: #efef8f;
}

pre .dos .winutils,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .string {
  color: #DCA3A3;
}

pre .diff .deletion,
pre .string,
pre .tag .value,
pre .preprocessor,
pre .built_in,
pre .sql .aggregate,
pre .javadoc,
pre .smalltalk .class,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .css .rules .value,
pre .attr_selector,
pre .pseudo,
pre .apache .cbracket,
pre .tex .formula {
  color: #CC9393;
}

pre .shebang,
pre .diff .addition,
pre .comment,
pre .java .annotation,
pre .template_comment,
pre .pi,
pre .doctype {
  color: #7F9F7F;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}

/* Pre code */

.marginInfo {
  margin: 15px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 2px solid #f1f1f1;
  -webkit-box-shadow: 0 -2px 0 0 #F9F9F9;      
  -moz-box-shadow:    0 -2px 0 0 #F9F9F9;      
  -o-box-shadow:      0 -2px 0 0 #F9F9F9;       
  box-shadow:         0 -2px 0 0 #F9F9F9;      
}

.slider {
  background: #fff;
  border: 1px solid #f3f3f3;
  position: relative;
  z-index: 10;
  margin: 5px 0px !important;
}
.slider .ui-slider-range {
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #47bbe4;
}
.slider .ui-slider-handle {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e1e6ef;
  background: white;
  -webkit-box-shadow: 0 1px 1px #c0cadd;
  -moz-box-shadow: 0 1px 1px #c0cadd;
  box-shadow: 0 1px 1px #c0cadd;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.slider .ui-slider-handle:hover {
  width: 30px;
  margin-left: -15px;
}
.slider .ui-slider-handle:focus {
  width: 30px;
  margin-left: -15px;
  outline: none;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.slider.slider-success .ui-slider-range {
  background: #95d06e;
}
.slider.slider-info .ui-slider-range {
  background: #95d5f4;
}
.slider.slider-warning .ui-slider-range {
  background: #fbcc6f;
}
.slider.slider-danger .ui-slider-range {
  background: #ff8787;
}
.slider.slim {
  height: 6px;
}
.slider.slim .ui-slider-handle {
  margin-top: -1px;
  height: 14px;
  width: 14px;
}
.slider.slim .ui-slider-handle:hover {
  width: 20px;
  margin-left: -12px;
}
.slider.slim .ui-slider-handle:focus {
  width: 20px;
  margin-left: -12px;
}
.slider.vertical {
  float: left;
  height: 100px;
  margin: 10px 20px !important;
}
.slider.vertical .ui-slider-handle {
  margin-left: -3px;
}
.slider.vertical .ui-slider-handle:hover {
  width: 18px;
  height: 30px;
  margin-bottom: -15px;
}
.slider.vertical .ui-slider-handle:focus {
  width: 18px;
  height: 30px;
  margin-bottom: -15px;
}
.slider.vertical.slim {
  width: 6px;
}
.slider.vertical.slim .ui-slider-handle {
  margin-left: -4px;
}
.slider.vertical.slim .ui-slider-handle:hover {
  width: 14px;
  height: 18px;
  margin-bottom: -12px;
}
.slider.vertical.slim .ui-slider-handle:focus {
  width: 14px;
  height: 18px;
  margin-bottom: -12px;
}

/* switch button */

#introR .col-md-4 {
  padding: 0;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: inset 0 -1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #f2f4f8;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #c0cadd;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #e1e6ef;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-primary > .switch-input:checked ~ .switch-label {
  background: #20a8d8;
}
.switch-success > .switch-input:checked ~ .switch-label {
  background: #79c447;
}
.switch-warning > .switch-input:checked ~ .switch-label {
  background: #fabb3d;
}
.switch-info > .switch-input:checked ~ .switch-label {
  background: #67c2ef;
}
.switch-danger > .switch-input:checked ~ .switch-label {
  background: #ff5454;
}


