@font-face {
  font-family: 'proxima-nova';
  src: url('../../fonts/proxima-nova-regular.otf');
}

body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main-content {
  overflow: auto;
  height: 100%;
}

.main-margin {
  margin-top: 100px;
}

#intro {
  background: #F5F5F5;
  min-height: 500px;
}

.closeInfo {
  line-height: 61px;
  vertical-align: middle;
  font-weight: 200;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  font-size: 21px;
  color: #000;
}

.closeInfo:hover {
  text-decoration: none;
}

.main-page h3 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.main-page p {
  font-size: 15px;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  text-indent: 2em;
  color: #000;
}

/* Definition of sidebar */

.sidebar {
  background: rgba(51,51,51,0.4);
       color: #d2d2d2;
   font-size: 14px;

  position: absolute;
   z-index: 999;
   padding: 10px 0;
    margin: 50px 0 0 100px;  
     width: 60px;
       top: 0;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
     -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
}

.sidebarLand {
  background: rgba(51,51,51,0.4);
       color: #d2d2d2;
   font-size: 14px;

  position: absolute;
   z-index: 999;
   padding: 10px 0;
    margin: 100px 0 0 0;  
     width: 60px;
     right: 5%;
       top: 0;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
     -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
}

.downbar {
  background: rgba(51,51,51,0.4);
       color: #d2d2d2;
   font-size: 14px;

  position: absolute;
   z-index: 999;
   padding: 5px 0;
    margin: 0 0 0 100px;  
    bottom: 0px;
     width: 60px;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
     -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.09);

  -webkit-transition: -webkit-transfor .3s ease-in-out;
     -moz-transition: -moz-transform .3s ease-in-out;
       -o-transition: -o-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;

}

/*
.downbar:hover {
    -webkit-transform: translate(0,-75px);
       -moz-transform: translate(0,-75px);
         -o-transform: translate(0,-75px); 
            transform: translate(0,-75px);
}*/

.side-nav {
  padding: 0;
   margin: 0;
}

.side-nav li {
  list-style: none;
  text-align: center; 
}

.side-nav li a {
  text-decoration: none;
          padding: 8px 20px 6px;
          display: block;
            color: inherit;
}

.side-nav li a.active {
  background: rgba(51,51,51,0.25);
       color: #f8f8f8;
}

.side-nav li a:hover {
  -webkit-transition: background-color 0.2s;
     -moz-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
    background-color: rgba(51,51,51,0.25);
}

/* End of sidebar */

/* Definition of tag selection */

#config {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  z-index: 999;
  background-color: rgba(245,245,245,0.75);
  overflow: scroll;
  padding-top: 30px;
  min-height: 702px;
}

.side-search {
  position: relative;
   z-index: 999;
    margin: 20px 10px;
    border: 2px solid #ddd;
     right: 0;
       top: 0;

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
          border-radius: 1px;

} 

.side-search span{
  vertical-align: middle;
     line-height: 38px;
        position: absolute;
          margin: 0 5px;
           color: rgba(51,51,51,0.4);
           float: right;
           right: 0;
}

.side-search ul{
  line-height: 34px;
      padding: 0;
       margin: 0 30px 0 0;
       height: 40px;
       border: none;
    
  list-style: none;
   font-size: 15px;
       color: #333333;
}

.side-search ul input:focus {
  outline: 0;
}

.side-search .mag-glass {
  background: #fff;
  width: 30px;
  height: 40px;
  margin: -1px 0;
  padding: 0 6px;
} 

/* End of tag selection */

/* Input */

input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #94A14E),
        color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    border-radius: 2px;
    height: 15px;
    width: 15px;
}

/* Input */

/* Pre code */

pre {
  display: block;
  position: relative;
  text-align: left;
  font-size: .55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  border: none;
}

pre code {
  display: block; padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC;
}

pre .keyword,
pre .tag,
pre .css .class,
pre .css .id,
pre .lisp .title,
pre .nginx .title,
pre .request,
pre .status,
pre .clojure .attribute {
  color: #E3CEAB;
}

pre .django .template_tag,
pre .django .variable,
pre .django .filter .argument {
  color: #DCDCDC;
}

pre .number,
pre .date {
  color: #8CD0D3;
}

pre .dos .envvar,
pre .dos .stream,
pre .variable,
pre .apache .sqbracket {
  color: #EFDCBC;
}

pre .dos .flow,
pre .diff .change,
pre .python .exception,
pre .python .built_in,
pre .literal,
pre .tex .special {
  color: #EFEFAF;
}

pre .diff .chunk,
pre .subst {
  color: #8F8F8F;
}

pre .dos .keyword,
pre .python .decorator,
pre .title,
pre .haskell .type,
pre .diff .header,
pre .ruby .class .parent,
pre .apache .tag,
pre .nginx .built_in,
pre .tex .command,
pre .prompt {
    color: #efef8f;
}

pre .dos .winutils,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .string {
  color: #DCA3A3;
}

pre .diff .deletion,
pre .string,
pre .tag .value,
pre .preprocessor,
pre .built_in,
pre .sql .aggregate,
pre .javadoc,
pre .smalltalk .class,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .css .rules .value,
pre .attr_selector,
pre .pseudo,
pre .apache .cbracket,
pre .tex .formula {
  color: #CC9393;
}

pre .shebang,
pre .diff .addition,
pre .comment,
pre .java .annotation,
pre .template_comment,
pre .pi,
pre .doctype {
  color: #7F9F7F;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}

/* Pre code */
