/* Definitions of graph visualization */

#graph svg {
  position: absolute;
}

.back-black {
  background: #3a3a3a;
}

.back-white {
  background: #fff;
}

.node {
  stroke-width: .5px;
        stroke: #fafafa;
}

.link {
  stroke-opacity: .6;
          stroke: #9f9f9f;
}

.d3-tip {
  background: rgba(0, 0, 0, 0.55);
       color: #fff;

  border-radius: 1px;
    line-height: 1;
        padding: 9px;
          float: right;
}

.d3-tip:after {
  line-height: 1;
   box-sizing: border-box;
     position: absolute;
      display: inline;
        width: 100%;
        float: right;

  text-align: center;
   font-size: 10px;
     content: "\25BC";
       color: rgba(0, 0, 0, 0.55);
}

.d3-tip.n:after {
  margin: -3px 0 0 0;
     top: 100%;
    left: 0;
}

/* End of definitions of graph visualization */


/* Definitions of map visualization */

#map {
  margin: 50px 0 0 100px;
}

#map svg {
  position: absolute;
  margin: 0;
  padding: 0;
}
#state path {
  stroke: #fafafa;
  stroke-width: .4px;
  stroke-linejoin: round;
  fill: #3f3f3f;
}

#state path:hover {
   fill: #5eab1f;
   cursor: pointer;    
   pointer-events: all;
}

/* End of definitions of map visualization */

#stateName {
  margin-left: 100px;
     position: absolute;
      display: block;
        float: left;

  font-family: Oswald, Helvetica, sans-serif;
  line-height: 40px;
  font-weight: 500;
    font-size: 40px;
        color: #3f3f3f;
}

#stateInfo {
  position: absolute;
    margin: 100px 3.5% 0 0;
     right: 0;
     width: 300px;
     float: right;
}


/* Definitions of deformed map visualization */

#deformed {
  margin: 50px 0 0 100px;
}

#deformed svg {
  position: absolute;
}

.sigla {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
} 

#bar {
  float: right;
  position: absolute;
  right: 100px;
}

/* End of definitions of deformed map visualization */
