/* Definitions of graph visualization */

#graph {
  min-height: 702px;
}

#graph svg {
  position: absolute;
}

#graph path.link {
  fill: none;
  stroke: #666;
}

.black {
  background: #3a3a3a;
}

.node {
  stroke-width: .5px;
        stroke: #fafafa;
}

.link {
  stroke-opacity: .6;
          stroke: #9f9f9f;
}

.d3-tip {
  background: rgba(0, 0, 0, 0.55);
       color: #fff;

  border-radius: 1px;
    line-height: 1;
        padding: 9px;
          float: right;
}

.d3-tip:after {
  line-height: 1;
   box-sizing: border-box;
     position: absolute;
      display: inline;
        width: 100%;
        float: right;

  text-align: center;
   font-size: 10px;
     content: "\25BC";
       color: rgba(0, 0, 0, 0.55);
}

.d3-tip.n:after {
  margin: -3px 0 0 0;
     top: 100%;
    left: 0;
}

.side-nav .gear {
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.side-nav .gear:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.ctrGroup {
  font-family: Oswald, Helvetica, sans-serif;
  line-height: 30px;
  font-weight: 500;
    font-size: 16px;
        color: #3f3f3f;
}


/* End of definitions of graph visualization */


/* Definitions of map visualization */

#map {
  min-height: 702px;
  padding: 50px 0 0 100px;
}

#map svg {
  position: absolute;
  margin: 0;
  padding: 0;
}

.states {
  fill: #728387;
}

.state-borders {
  stroke: #fff;
  stroke-width: 0.9px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.city-arcs {
  display: none;
  fill: none;
  stroke: #384042;
}

.city-arcs path {
  stroke-dasharray: 0,2 2;
  stroke-width: 1.1px;
}
.city-cell {
  fill: none;
  pointer-events: all;
}

.cities circle {
  fill: #fa603d;
  stroke: #fff;
  pointer-events: none;
}

.city:hover .city-arcs {
  display: inline;
}

svg:not(:hover) .city-cell {
  stroke: #000;
  stroke-opacity: .2;
}

/* End of definitions of map visualization */

#stateName {
  margin-left: 100px;
     position: absolute;
      display: block;
        float: left;

  font-family: Oswald, Helvetica, sans-serif;
  line-height: 40px;
  font-weight: 500;
    font-size: 40px;
        color: #3f3f3f;
}

#stateInfo {
  position: absolute;
    margin: 100px 3.5% 0 0;
     right: 0;
     width: 300px;
     float: right;
}

#introR {
  font-family: Oswald, Helvetica, sans-serif;
  line-height: 30px;
  font-weight: 500;
    font-size: 16px;
        color: #3f3f3f;
      padding: 0 12px;
}


/* Definitions of cartogram map visualization */

#state path {
  stroke: #fafafa;
  stroke-width: .4px;
  stroke-linejoin: round;
  fill: #bdbdbd;
}

#state path:hover {
   fill: #807dba;
   cursor: pointer;    
   pointer-events: all;
}

#cartogram {
  min-height: 702px;
  padding: 50px 0 0 100px;
}

#cartogram svg {
  position: absolute;
}

.sigla {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
} 

#bar {
  float: right;
  position: absolute;
  right: 100px;
}

/* End of definitions of cartogram map visualization */


/* Definitions of heatmap visualization */

#heatmap {
  min-height: 702px;
  padding: 50px 0 0 100px
}

#circles {
  fill: #3f3f3f;
}

.hexagon {
  opacity: .35;
}

.circleCity {
  fill: none;
  stroke: steelblue;
}

/* End of definitions of heatmap visualization */
